.main {
  color: #fff;
  background: #9ed56b;
}

.main a {
  text-decoration: none;
}

/* menu */
.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-bar .nav-item {
  padding: 20px;
  display: inline-block;
  color: #fff;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.133);
}

.nav-item-login {
  color: #333;
}
